In [7]:
import pandas as pd
import numpy as np
import statsmodels.api as smt
from matplotlib import pyplot as plt
from datetime import datetime as dt

In [9]:
#reading data into dataframes
bc = pd.read_csv("BTC-USD.csv", index_col=0, parse_dates=True)
usd = pd.read_csv("USD.csv", index_col=0, parse_dates=True)

In [10]:
#displaying bitcoin dataframe
bc = bc.drop(bc.columns[[0,1,2,4]], axis=1)
bc.tail()

                   Close        Volume
Date
2021-12-14  46612.632813  3.463862e+10
2021-12-15  48896.722656  3.654183e+10
2021-12-16  47665.425781  2.726815e+10
2021-12-17           NaN           NaN
2021-12-18  46973.503906  3.245442e+10

In [11]:
#displaying usd dataframe
usd = usd.drop(usd.columns[[1,2,3,4,5]], axis=1)
usd.head()

             Price
Date
2021-12-17  96.548
2021-12-16  96.015
2021-12-15  96.482
2021-12-14  96.538
2021-12-13  96.345

In [12]:
print(bc.shape)
print(usd.shape)

(1827, 2)
(1312, 1)

In [13]:
bc.describe()

              Close        Volume
count   1822.000000  1.822000e+03
mean   15148.100875  2.063492e+10
std    16802.903929  2.111485e+10
min      777.757019  6.052440e+07
25%     5286.297119  4.404235e+09
50%     8563.235352  1.585711e+10
75%    13372.171143  3.218727e+10
max    67566.828125  3.509679e+11

In [14]:
usd.describe()

             Price
count  1312.000000
mean     95.212543
std       3.275352
min      88.505000
25%      92.777250
50%      95.216000
75%      97.388000
max     103.605000

In [15]:
join = bc
for x in join.index.values:
    for x2 in usd.index.values:
        if x == x2:
            itemindex = np.where(usd.index==x2)[0][0]
            val = usd.at[x2, "Price"]
            join.at[x, 'Price'] = val
join.head()

KeyError: numpy.datetime64('2016-12-19T00:00:00.000000000')